#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno

#
# Top-level generic files
#
/tags
/TAGS
/linux
/vmlinux
/vmlinuz
/System.map
/Module.markers
/Module.symvers

#
# Debian directory (make deb-pkg)
#
/debian/

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
!.mailmap

#
# Generated include files
#
include/config
include/linux/version.h
include/generated
arch/*/include/generated

# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

*.orig
*~
\#*#


#specific zImage for mtk build system
/arch/arm/boot/zImageOld
#specific mediatek config file
/mediatek-configs
#out directories
/mediatek/config/out/*/autoconfig
/mediatek/custom/out/*/cgen/
/mediatek/custom/out/*/common/
/mediatek/custom/out/*/factory/
/mediatek/custom/out/*/hal/
/mediatek/custom/out/*/kernel/
/mediatek/custom/out/*/lk/
/mediatek/custom/out/*/modem/
/mediatek/custom/out/*/native/
/mediatek/custom/out/*/preloader/
/mediatek/custom/out/*/recovery/
/mediatek/custom/out/*/resource_overlay/
/mediatek/custom/out/*/secro/
/mediatek/custom/out/*/security/
/mediatek/custom/out/*/uboot/
/out/
#kernel/out directories
/kernel/mediatek/custom/out/*/cgen/
/kernel/mediatek/custom/out/*/common/
/kernel/mediatek/custom/out/*/factory/
/kernel/mediatek/custom/out/*/hal/
/kernel/mediatek/custom/out/*/kernel/
/kernel/mediatek/custom/out/*/lk/
/kernel/mediatek/custom/out/*/modem/
/kernel/mediatek/custom/out/*/native/
/kernel/mediatek/custom/out/*/preloader/
/kernel/mediatek/custom/out/*/recovery/
/kernel/mediatek/custom/out/*/resource_overlay/
/kernel/mediatek/custom/out/*/secro/
/kernel/mediatek/custom/out/*/security/
/kernel/mediatek/custom/out/*/uboot/
/kernel/out/
#mediatek directories
/mediatek/cgen/
/mediatek/dct/
/mediatek/config/out/
/mediatek/platform/mt6589/external/
/mediatek/platform/mt6589/hardware/
/mediatek/platform/mt6589/lk/
/mediatek/platform/mt6589/preloader/
/mediatek/platform/mt6589/Trace/
/mediatek/platform/mt6589/uboot/
